.bodysection{
    background-color: navy;
    color: white;
    text-align: center;
    height: 300px;
    width: 100%;
    float: left;
    margin-top: 10px;
    position: relative;
}

.coursSection{
height: 300px;
width: 100%;
float: left;
margin-top: 10px;
}

.leftcoursesection{
    height: 50px;
    width: 100%;
    float: left;
    color: purple;
    font-weight: 600;
    text-align: center;
}

.rightcoursesection{
    height: 300px;
    width: 100%;

}
