.left{
    height: 100px;
    width: 20%;
    background-color: white;
}

.logocss{
    height: 80px;
    width: 100%;
    float: left;
    margin-top: 8px;
}

.right{
    background-color:white;
    height: 100px;
    width: 80%;
    float: left;
}

.Navbar {
    list-style-type: none;
}

.Navbar li{
     margin: 24px 0px 10px 0px;
}


.Navbar li a{
    color: black;
    text-decoration: none;
   float: left;
   padding: 20px;
  font-weight: 600;
  border-bottom: 2px solid purple;
  margin-left: 10px;
}

.Navbar li a:hover{
    color: white;
    background-color: lightgreen;
}