
/**************Bg-color****************/

$primaryBgColor:purple;
$secondaryBgColor:green;
$profileBgColor:red;


/**************Color****************/

$primaryColor:Purple;
$secondaryColor:white;
$profileColor:green;

/**************Font-family*****************/

$primaryfont:'Sans-serif';
$secondaryfont:'gill sans';
$profilefont:'Arial';