.home-container {
  height: 100vh; /* Full screen */
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  text-align: center;
  z-index: 2; /* ensures it stays above overlay */
}

.home-content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.name-highlight {
  color: #00adb5;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}